<div class="col-7 m-1">
    {{this.burger_name}}
    <button class="btn btn-secondary devour-burger" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Re-order!{{else}}Devour!{{/if}}
    </button>
</div>