<div class="col-7 m-1 text-light">
    {{this.burger_name}}
    <button class="btn btn-secondary border border-dark devour-burger" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Re-order!{{else}}Devour!{{/if}}
    </button>
</div>